<header class="top-bar">
  <div class="container">
    <div style="color: white;" class="logo">PSBS <span>Women</span></div>

    <nav>
      <a class="active" routerLink="/Home">Home</a>
      <a class="active" routerLink="/Products" >Shop</a>
      <a class="active"  routerLink="/Cart">Cart</a>
      <a class="active" href="https://www.instagram.com/psbs_woman/" >Contact</a>
    </nav>
    

    <div class="account">
      <span style="color: white; font-weight: bold;"  routerLink="/Login">My account</span>
    </div>
  </div>
</header>