/* GENERAL */
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* TOP BAR */
.top-bar {
  background: #5d0404;
  padding: 20px 40px;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.logo span {
  font-weight: 300;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  cursor: pointer;
  color: #555;
  text-decoration: none;
}

nav a.active {
  font-weight: 600;
  color: #ffffff;
}

.account {
  font-size: 14px;
  cursor: pointer;
}