<header class="top-bar">
  <div class="container">

    <div class="logo">PSBS <span>Woman</span></div>

    <!-- DESKTOP NAV -->
    <nav class="nav-links">
      <a routerLink="/Home">Home</a>
      <a routerLink="/Products">Shop</a>
      <a routerLink="/Cart">Cart</a>
      <a href="https://www.instagram.com/psbs_woman/">Contact</a>
    </nav>

    <div class="account">
      <span routerLink="/Login">My account</span>
    </div>

    <!-- HAMBURGER (mobile only) -->
    <div class="menu-icon" (click)="toggleMenu()">
      ☰
    </div>
  </div>

  <!-- MOBILE DROPDOWN -->
  <div class="mobile-menu" *ngIf="menuOpen">
    <a routerLink="/Home" (click)="closeMenu()">Home</a>
    <a routerLink="/Products" (click)="closeMenu()">Shop</a>
    <a routerLink="/Cart" (click)="closeMenu()">Cart</a>
    <a href="https://www.instagram.com/psbs_woman/">Contact</a>
    <a routerLink="/Login" (click)="closeMenu()">My account</a>
  </div>
</header>
