

<section class="hero">
  <div class="hero-content">
    <h5 style="color: #5d0404;">Since 2023</h5>
    <h1 >
      Our <br />
      collection
    </h1>
    <p> SALE | UP TO 50% OFF</p>

    <button style="font-weight: bold;" routerLink="/Products" class="primary-btn">Our collection</button>
  </div>

  <div routerLink="/Tops" class="hero-images">
    <div class="category woman">
      <span style="font-weight: bold;">Tops</span>
    </div>
  </div>
  <div routerLink="/Bottoms" class="hero-christmas">
    <div class="category christmas">
      <span style="font-weight: bold;">Bottoms</span>
    </div>
  </div>
</section>